:host
  display block

.c-log-in-form__divider
  height 35px
  position relative

.c-log-in-form__divider:before
  content ''
  position absolute
  height 1px
  background-color #e4e4e4
  left 0
  width 100%
  top 50%
  transform translateY(-50%)

.c-log-in-form__divider:after
  left 50%
  content 'or'
  width 35px
  height 100%
  color #a5a5a7
  font-weight 400
  font-size 0.75rem
  line-height 35px
  position absolute
  border-radius 50%
  text-align center
  background-color #ffffff
  border 1px solid #e4e4e4
  transform translateX(-50%)