:host
  display block
  height 42px
  padding 0
  color #fff
  background #5172ab
  border-radius 4px
  user-select none
  cursor pointer
  font-size 16px
  transition color .2s ease-in-out

  &:hover
    color #F0F0F0

.c-facebook-button__icon
  display inline-block
  width: 42px
  height: 42px
  vertical-align middle
  border-right 1px solid #43629d
  background url('/images/icons/social/facebook_sign_in.svg') 100% no-repeat
  background-position center

.c-facebook-button__text
  margin-left 20px